*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* estilos globais*/
body{
    background-color: #80808029;
    font-family: "Raleway", sans-serif;
}
h1{
    font-size: 24px;
    color: #5d15d1;
}
label{
    font-size: 16px;
    display: block;
    font-weight: 600;
}
input, select{
    width: 100%;
    height: 32px;
    padding: 0 5px 0 5px;
    border-radius: 4px;
    font-size: 14px;
    margin: 10px 0 10px 0;
}
button{
    width: 160px;
    height: 32px;
    background-color: #5d15d1;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 12px;
}
h2{
    font-size: 20px;
    margin-bottom: 10px;
}
h3{
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 15px;
}
.limiter{
    max-width: 1024px;
    margin: 0 auto;
}
/*estilos do cabeçalho*/
.cabecalho{
    background-color: #fff;
    height: 55px;  
}
.cabecalho, .container-header, .header-formulario, .formulario, .datas, .localidades, .partida, .chegada, .origem, .destino{
    width: 100%;
}
.container-header, .header-formulario{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-header{
    height: 55px;
    justify-content: flex-start;
}
.img-logo{
    width: 32px;
    height: 32px;
    margin-right: 10px;
}
/*estilos do formuário*/
.formulario{
    height: auto;
    background-image: url(/assets/image/bahia.jpg);
    background-size: cover;
    background-position: center;
}
.container-formulario{
    padding: 50px 0 50px 0;
}
.header-formulario{
    background-color: #5d15d1;
    height: 35px;
}
.header-formulario img{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    rotate: -45deg;
}
.header-formulario h2{
    font-size: 14px;
    color: #fff;
}
.body-formulario{
    background-color: #fff;
    padding: 30px 25px 30px 25px;
    display: flex;
    flex-direction: column;
}
.header-formulario-titulo{
    color: #fff;
    font-weight: 600;
    margin-bottom: 0px;
}
.preferncias-titulo, .cama-infantil-titulo{
    font-weight: 600;
}
.datas, .localidades, .cama-infantil, .preferencias, .opcao-cama, .opcao-preferencia{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.opcao-cama, .opcao-preferencia{
    width: 120px;
}
.opcao-cama input, .opcao-preferencia input{
    width: 15px;
}
/*estilos da seção ofertas*/
.secao-ofertas, .secao-anuncios, .rodape{
    width: 100%;
    height: auto;
    margin: 32px auto 0px auto;
}
.secao-ofertas, .secao-anuncios{
    display: flex;
    flex-direction: column;
}
.flex-pacotes, .flex-anuncios{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}
.flex-pacotes{
    height: 375px;
}
.card-rio-destaque{
    position: relative;
    width: calc(50% - 10px);
    height: 100%;
}
.card-rio-destaque img, .card-imagens img, .card-anuncio img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.card-imagens{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: calc(50% - 10px);
    height: 100%;
    gap: 10px;
}
.card-pacote, .card-anuncio{
    position: relative;
    width: calc(50% - 10px);
}
.card-pacote{
    height: calc(50% - 10px);
}
.card-pacote h3, .card-rio-destaque h3{
    position: absolute;
    bottom: -15px;
    left: 0px;
    width: 100%;
    background-color: #0000007e;
    color: #fff;
    font-size: 17px;
    padding: 5px 10px 5px 10px;
}
/*estilos da seção anúncios*/
.card-anuncio{
    height: 100%;
}
.descricao-anuncio{
    background-color: #fff;
    padding: 20px;
}
.card-anuncio h3{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}
.card-anuncio p{
    color: gray;
    margin-top: 15px; 
}
/*estilos do rodapé*/
.rodape{
    color: #fff;
    height: 100%;
    background-color: #5d15d1;
}
.flex-contatos{
    display: flex;
    justify-content: space-between;
}
.contatos, .redes-sociais{
    display: flex;
    flex-direction: column;
    margin: 15px 0 15px 0;
}
.contatos h2, .redes-sociais h2{
    margin-bottom: 15px;
}
.iten-contato, .iten-rede-social{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 5px 0 5px 0;
}
.iten-contato img, .iten-rede-social img{
    width: 18px;
}
span{
    font-size: 14px;
}
/* Responsividade*/
@media (max-width: 1100px){
    .limiter{
        width: 90%;
    }
    
}
@media (max-width: 768px){
    button{
        width: 100%;
    }
    .flex-pacotes, .flex-anuncios, .flex-contatos{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .card-imagens{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card-rio-destaque, .card-pacote{
        width: 100%;
    }
    .card-rio-destaque img,.card-pacote img{   
    object-fit: cover;
    height: 225px;
    margin-top: 15px;
    }
    .card-anuncio{
        margin-top: 15px;
        width: 100%;
    }
    .flex-contatos{
        align-items: center;
    }
    .contatos,.redes-sociais{
        width: 250px;
    }
    @media (max-width: 540px){
        .datas, .localidades, .cama-infantil, .preferencias{
            display: flex;
            flex-direction: column;
        }
        .cama-infantil, .preferencias{
            align-items: flex-start;
        }
    }
}